<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-calendar"></i>
            <a href="{{ url_for('home') }}">AppointmentSys</a>
        </div>
        <nav>
            <a href="{{ url_for('student_dashboard') }}" class="back ">Back to Dashboard</a> 
            <!-- there was a logo class in anchor tag -->
            <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                <button type="submit" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </nav>
    </header>

    <main>
        <div class="main-section book-appointment">
            <h1>Book Appointment</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('book_appointment') }}" method="POST" class="form-container">
                <label for="teacher_id">Select Teacher:</label>
                <div class="input-icon">
                    <select name="teacher_id" id="teacher_id" onchange="this.form.submit()">
                        <option value="">-- Select a Teacher --</option>
                        {% for teacher, user in teachers %}
                            <option value="{{ teacher.id }}" {% if teacher.id == selected_teacher_id|int %}selected{% endif %}>{{ user.name }} ({{ teacher.department }} - {{ teacher.subject }})</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </main>

    <div class="table-container">
        {% if selected_teacher_id %}
            {% if slots %}
                <h2>Available Slots</h2>
                <div class="responsive-table">
                    <form action="" method="POST"  class="slot-purpose" >
                        <input type="hidden" name="teacher_id" value="{{ selected_teacher_id }}">
                        <table class="slots-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time Slot</th>
                                    <th class="radio-select">Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for slot in slots %}
                                    <tr>
                                        <td data-label="Date">{{ slot.date.strftime('%d-%m-%Y') }}</td>
                                        <td data-label="Time Slot">{{ slot.time }}</td>
                                        <td data-label="Select">
                                            <input type="radio" name="slot_id" id="" value="{{ slot.id }}" class="radio-button" required>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="purpose-field">
                            <h1>Write Purpose</h1>
                        <label for="purpose">Purpose of Appointment:</label>
                        <textarea name="purpose" id="purpose" rows="4" placeholder="Enter the purpose of your appointment" required></textarea>
                        <button type="submit">Book Appointment</button>
                        </div>
                        

                        
                    </form>
                </div>
            {% else %}
                <p>No available slots found fot this teacher.</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>