<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View MY Appointments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <i class="fa-solid fa-calendar"></i>
            <a href="{{ url_for('home') }}">AppointmentSys</a>
        </div>
        <nav>
            <a href="{{ url_for('student_dashboard') }}" class="back logo">Back to Dashboard</a>
            <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                <button type="submit" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <p class="alert alert-{{ category }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="table-container">
        <h1>View My Appointments</h1>
        {% if appointments %}
            <div class="responsive-table">
                <table>
                    <thead>
                        <tr>
                            <th>Teacher Name</th>
                            <th>Date</th>
                            <th>Time Slot</th>
                            <th>Status</th>
                            <th>Purpose</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment, teacher_slot, teacher in appointments %}
                            <tr>
                                <td data-label="Teacher Name">{{ teacher.name }}</td>
                                <td data-label="Date">{{ teacher_slot.date.strftime('%d-%m-%Y') }}</td>
                                <td data-label="Time Slot">{{ teacher_slot.time }}</td>
                                <td data-label="Status" data-value="{{ appointment.status }}">{{ appointment.status.capitalize() }}</td>
                                <td data-label="Purpose">{{ appointment.purpose }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No appointment found.</p>
        {% endif %}
    </div>
</body>
</html>